.box-shadow_lrg {
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.27);
}
.box-shadow_sml {
  box-shadow: 0px 15px 19px -18px rgba(0, 0, 0, 0.41);
}
.txt-underline {
  text-decoration: underline;
}
.txt-bold {
  font-weight: 700;
}
.txt-med {
  font-weight: 500;
}
.txt-linethrough {
  text-decoration: line-through;
}

.border-radius-leftB-leftT {
  border-radius: 20px 0 0 20px;
}
.border-radius-rightT {
  border-radius: 0 20px 0 0;
}
.border-radius-rightB {
  border-radius: 0 0 20px 0;
}

.Article__unordered-list_flex-end {
  flex-direction: row-reverse;
}
.flex-container {
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.flex-space-between {
  width: 100%;
  justify-content: space-between;
}
.border-radius{
  border-radius: 10px;
}
.padding-b-m {
  padding-bottom: 12px;
}
